*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    float: inherit;
    width: auto;
    font-family: 'Cascadia Code SemiBold';
    font-weight: 500;
    color: azure;
}
body {
    background: #252525;
}
a {
    color: azure;
}
.actionbar {
    position: relative;
    border: 2px solid #830fd2;
    border-radius: 20px;
    margin: 2% auto;
    background: #212121;
    width: 90%;
    height: 10%;
}
.actionbar #logo {
    padding-left: 4%;
}
.actionbar a {
    margin: 2% 2% auto;
    float: right;
    text-decoration: none;
    text-shadow: 2px 2px #830fd2;
}
.actionbar a:hover {
    color: azure;
}
#triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    transition: all 6s linear, transform 6s ease-in-out, opacity 6s linear;
    opacity: 0;
}