{% extends 'forum/layout.html' %}
{% load static %}

{% block title %}Neiro{% endblock %}
{% block additional %}
    <link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
{% endblock %}

{% block actionbar %}
    <header class="actionbar">
        <img id="logo" src="{% static 'forum/img/Neiro.png' %}" alt="Neiro" width="75px" height="75px">
        <a href="">Login</a>
        <a href="">Support</a>
        <a href="">FAQ</a>
        <a href="">↗Main</a>
    </header>
{% endblock %}

{% block background_effect %}
{% endblock %}

{% block content %}
    test
{% endblock %}