{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Neiro{% endblock %}

{% block actionbar %}
    <header class="actionbar">
        <img id="logo" src="{% static 'main/img/Neiro.png' %}" alt="Neiro" width="75px" height="75px">
        <a href="">Dashboard</a>
        <a href="">FAQ</a>
        <a href="">Support</a>
        <a href="">News</a>
    </header>
{% endblock %}

{% block content %}
    <div class="introduction">
        <img id="logo_full" src="{% static 'main/img/Neiro_full.png' %}" alt="Neiro" width="200px" height="100px">
    </div>
{% endblock %}