{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Neiro{% endblock %}
{% block additional %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}

{% block actionbar %}
    <header class="actionbar">
        <img id="logo" src="{% static 'main/img/Neiro.png' %}" alt="Neiro" width="75px" height="75px">
        <a href="">Dashboard</a>
        <a href="">FAQ</a>
        <a href="">Support</a>
        <a href="">News</a>
    </header>
{% endblock %}

{% block background_effect %}
    <script src="{% static 'main/js/triangles_effect.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="introduction">
        <img id="logo_full" src="{% static 'main/img/Neiro_full.png' %}" alt="Neiro" width="300px" height="200px">
        <h4 id="logo_desc">Multifunctional bot&nbsp;<span class="ai_typing"></span></h4>
        <div class="buttons">
            <button id="dc_integr"><img src="{% static 'main/img/discord_logo.png' %}" alt="Discord" width="50px" height="50px"> Add to Discord</button>
            <button id="tg_integr"><img src="{% static 'main/img/telegram_logo.png' %}" alt="Telegram" width="50px" height="50px"> Add to Telegram</button>
            <button id="vk_integr"><img src="{% static 'main/img/vkontakte_logo.png' %}" alt="VKontakte" width="50px" height="50px"> Add to Vkontakte</button>
        </div>
    </div>
{% endblock %}