{% extends 'authentication/layout.html' %}
{% load static %}

{% block title %}Neiro - Registration{% endblock %}
{% block additional %}
    <link rel="stylesheet" href="{% static 'authentication/css/main.css' %}">
{% endblock %}

{% block actionbar %}
{% endblock %}

{% block background_effect %}
    <div id="triangles">
        <script src="{% static 'main/js/trianglesfly.js' %}"></script>
    </div>
{% endblock %}

{% block content %}
    <div class="registration_window">
        <img id="logo" src="{% static 'authentication/img/Neiro.png' %}" alt="Neiro" width="75px" height="75px">
        <a>h</a>
    </div>
{% endblock %}